body{
	width: 100%;
	margin: auto;
	position: center;
	max-width: 98%;
}
header{
	width:960px;
	height: 200px;
	margin: auto;
	border: 2px solid black;
	max-width: 95%;
	padding: 20px;
}
header h3{
	background-color: transparent;
	text-align: right;
	position: relative;
	bottom: 30px;
	font-size: 16px;
}
ul.navmenue li{
	list-style-type: none;
	float: left;
	position:relative;
	bottom: 50px;
	left:390px;
	display: inline-block;
	text-align: center;
	border: 1px solid black;
	margin: auto;
	width: 160px;
	height: 35px;
	line-height: 25px;
	padding: 2px;

}
ul.navmenue a{
	text-decoration: none;
	font-size: 16px;
	font-family: /*/;
	display:block;
	margin: auto;

}