body{
	width: 65%;
	margin: auto;
	min-width: 65%;

}
header{
	width: 87%;
	margin: 0px;
	height: 200px;
	border-bottom: 7px outset #00cc00;
}
header img{
	position: relative;
	top:25px;

}

h3{
	position: relative;
	left:450px;
	clear:both;

}

/*nav menue//////////////////////////////////////*/
ul.navmenue li{
	list-style-type: none;
	display: inline-block;
	clear: left;
	background-color: #CCFF33;
	line-height: 25px;
	padding: 0px;
	
	position: relative;
	bottom: 62px;
}
ul.navmenue a{
	display: block;
	width: 170px;
	height: 30px;
	text-align: center;	
	text-decoration: none;
	
}

/* section /////////////////////////////////////////////*/


section p#sec{
	font-family: Fertigo regular;
	font-size: 18px;
	width:78%;
	margin: 7px 5px 15px 0px;
	background-color: #E6E6FA;
	padding: 25px;
	text-align: center;
	clear: both;

}

/* articles with pictures */

div.article img{
	border-bottom: 4px solid #00CC00;
}
div.article div{
	display: block;
	width: 333px;
	height: 300px;
	margin: 7px 10px 15px 0px;
	padding: 0px;
	text-align: center;
	background-color: #1E90FF;
}
div.article div{
	float:left;
}

div#footer{
	display: inline-block;
	background-color: ;
	width: 85%;
	height: 200px;
	text-align: center;
	position: relative;
	top:150px;
	border-top: 7px outset #00cc00;
	
}

div#con p{
	display: inline-block;
	margin: auto 10px;
	position: relative;
	top:120px;
}
div#donate h4{
	text-transform: uppercase;
	text-align: center;
	display: block;
	width: 120px;
	height: 25px;
	padding: 10px;
	margin: 2px;
	height: 25px;
	position: relative;
	left: 875px;
	background-color: #FF0000;

}
div#donate a{
	color: white;
	text-decoration: none;
	line-height: 25px;
}
div#fl img{
	position: relative;
	top:-40px;
	left: 50px;
	
	
	
}
div#info{
	display: block;
	width:450px;
	height: 30px;
	font-size: 12px;
	position: relative;
	left:200px;
	bottom:130px;
}
div#copyright{
	font-size: 10px;
	position: relative;
	left: 450px;
	bottom:40px;
}