*{
		margin: auto;
		border:0;
		padding: 0;
	}
	body{
		background:url("image/contact.jpg") no-repeat center center fixed;
		background-size: cover;
		font: 14px/20px Arial, San-serif;
		color: #555;
		margin: 0;
	}
	h1{
		text-align: center;
		font-size: 181%;
		line-height: 120%;
		padding: 5% 0;
	}
	h2{
		text-decoration: underline;
		line-height: 280%;
		padding-left: 2%;
	}
	#we{
		text-align: center;
		font-size: 3	em;	
	}
	h3{
		line-height: 110%;
		padding: 5% 0;
	}
	p{
		padding: 1%;
	}
	img{
		text-align: center;
		max-width: 100%;
		height: auto;
		width: auto;
	}
	header a{
		color: #DAD511;
		text-decoration: none;
		font-weight: bold;
		font-size: 1.5em;

	}
	

	header a:hover{
		color: white;
		text-decoration: none;
		background-color: orange;
		padding: 15px;
		font-size: 2em;
		padding-top: 38px;
	}
	header{
		background-color: #405580;
		width: 100%;
		height: 86px;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 100;
		opacity: 0.90;
	}
	#logo{
		margin: 5px;
		float: left;
		background-color: transparent;
		
	} 
	nav{
		float: right;
		padding: 35px 20px 20px 0px; 
	}

	#menue-icon *{
		display: none;
		font-size: 48px;

	}
	a:hover#menue-icon{
		border-radius: 4px 4px 0 0;
		color: white;
	}
	ul{
		list-style: none;
	}
	nav ul li{
		display: inline-block;
		float: left;
		padding: 10px;
	}
	#main{
		width: 100%;
		max-width: 1100px;
		background-color:white ;
		margin-top: 80px;
	}
	div#text-wrapper{
		width: 100%;
		max-width: 960px;
		margin-top: 5%;
		background-color: white;
		opacity: 0.95;
	}
	.grid{
		width: 100%;
		max-width: 960px;
		margin-left: 4%;
		margin-top: 5%;
		background-color: white;
		opacity: 0.95;

	}
	iframe{
		margin: auto;
	}
	#contacts *{
		display: block;

	}
	#contacts label span{
		display: inline;

	}
	#contacts{
		margin-bottom:20px; 
		padding:20px 20px 0;
		 color:#ccc; 
		 background:#000000;
		  border:1px solid #000; 
		  border-radius:8px;
		  width:460px;
		  height:500px;
		  text-align: justify;
		  float: left;
	}
	#contacts input{
		width: 60%;
		margin: 2px auto 2px 2px;
		height: 25px;
	}
	textarea{
		margin: 5px 2px;
		width: 95%;
		height: 200px;
	}
	input#form-btn{
		margin: 7px 2px;
		width: 120px;
		height: 35px;
		border-radius: 6px;
		background-color: #0986BD;
		color: white;
		font-weight: bold;
		font-size: 1em;
	}
	#box{
		width: 250px;
		float: left;
		margin-left: 5%;
		border: 1px dashed;
		background-color: #64EF20;
		padding-bottom: 5px;
		color: black;
	}
	#box *{
		margin: 5px;
		text-decoration: none;
	}

	
	
	
	footer{
		background:#333333;
		width: 100%;
		overflow: hidden;
		opacity: 0.90;
	}
	footer p, footer h3{
		color: #fff;
	}
	footer p a{
		color: #fff;
		text-decoration: none;
	}
	ul.social li{
		display: inline;
	}
	ul.social img{
		width: 36px;
		height: 36px;
		
	}
	#footer1{
		float:left; 
		margin: 0 2%;
		width: 30%;
	}
	#footer1 h3{
		margin: 0px;

	}
	#footer2{
		float: left;
		width: 30%;
		margin: 0 1%;
	}
	#footer3{
		float: right;
		width: 30%;
		margin: auto;
	} 
	#footer3 p{
		width: 100%;
		margin: 0;
		padding: 0;
	}
	.form{
		margin: 10px 0px;
	}
	.form input{
		line-height: 30px;
		font-size: 1.2em;
		margin: auto;
		padding: 2px;
	}
	.form button{
		overflow: visible;
		width: 80px;
		height: 27px;
		line-height: 28px;
		font-size: 19px;
		border-radius: 5px;
		background: #289AEA;
		padding-bottom: 7px;
		color: white;
	}
	.social{
		margin: auto 5px;
		padding: 5px;
	}
	footer.second{
		border-top: 1px solid #4D4e50;
		background-color: #333333;
		max-height: 50px;
		text-align: center;
		opacity: 0.95;
	}
	
   @media screen and (max-width: 478px){
   	body{
   		position: absolute;
   	}
   	#logo{
   		display: none;
   	}
   	#menue-icon *{
   	 	display: inline-block;
   	 	float: left;
   	 	margin-right: 10%;
   } 
   	ul.social{
   	 	display: none;
   	 }
   }
   @media screen and (max-width: 740px){
   	header{
   		position: fixed;
   	   	}
   	 #menue-icon *{
   	 	display: inline-block;
   	 }  	
   	 nav ul, nav:active ul{
   	 	display: none;
   	 	position: absolute;
   	 	padding: 20px;
   	 	background: #405580;
   	 	border: 1px solid #fff;
   	 	right: 20px;
   	 	top: 60px;
   	 	width: 50%;
   	 	border-radius: 2px 0 2px 2px;
   	 }
   	 nav li {
   	 	text-align: center;
   	 	width: 100%;
   	 	padding: 10px 0;
   	 	margin: 0;
   	 }
   	 nav:hover ul{
   	 	display: block; 
   	 }

   	 section{
   	 	float: left;
   	 	width: 100%;
   	 	margin: 0;
   	 	padding: 0;
   	 }
   	 iframe{
   	 	width: 96%;
   	 	margin: 2%;
   	 }
   	 
   	 ul.clear li h3{
   	 	
   	 	
   	 	text-align: center;
   	 	
   	 }
   	 .grid{
   	 	width: 100%;
   	 }
   	 #col1, #col2, #col3, #col4{
   	 	float: left;
   	 	width: 90%;
   	 	margin: 5% auto;
   	 }
   	 footer{
   	 	width: 100%;
   	 }
   	 #footer1, #footer3, .form{
   	 	width: 100%;
   	 	display: block;
   	 	float: left;
   	 }
   	 #footer2{
   	 	display: none;
   	 }
	header a:hover{
   	width: 100%;
   	padding: 10px;
   	font-size: 1.2em;
   }


   	 
   } 