body{
	width: 90%;
	font-family: arial sans-serif;
	margin: 0 auto;
	background-color: yellow;
	border: 1px solid;
}
header img{
	margin: 0 auto;
}
#image{
	height: 400px;
	margin-top: 20px;
	margin: 0 auto;
}
#menu {
	margin: 0 auto;
	width: 100%;
	max-width: 960px;
}
#menu ul li{
	margin: 0 auto;
	display: inline;
	text-align: center;
	padding: 10px;
	margin-left: 5%;
	text-transform: uppercase;
	list-style-type: none;
	border: 1px solid blue;
	background-color: lightyellow;
}
#menu ul li:hover {
	background-color: blue;
}
#menu ul li a {
	color: orange;
}

a{
	text-decoration: none;
}
#container2 {
	background-color: #BBF144;
}
#contanier{
	width: 100%;
	max-width: 980px;
	margin: 0 auto;
}

header{
	background-color: darkorange;
	height: 100px;
	width: auto;
	clear: both;

}

#search{
	float: right;
	line-height: 25px;
	}

header img{
	float:left;
	position: relative;
	left: 200px;
	text-align: center;
}
#sec{
		
		max-width: 100%;
		
		text-align: center;
		padding: 5px;
		border-radius: 7px;

}
#sec p{
	margin: 5px;
	text-align: justify;
	font-size: 24px;

}

.article img {
	border-radius: 10px;
	width: 100%;
}
.article a{
	border: 1px solid;
	width: 31%;
	height: 400px;
	float: left;
	margin: 7px;
	padding: 0px;
	border-radius: 10px;
	text-decoration: none;
}

.article h1, p{
	margin: 0 auto;
	text-align: justify;
	padding: 10px;
}
.article h1 {
	font-size: 20px;
}
.article p {
	font-size: 20px;
}

footer{
	width: 100%;
	height: 120px;
	background-color: darkorange;
	clear: both;
}

section img{
	float: right;
	margin: 0px;
	padding: 10px;	
}
#address p{
	text-align: center;
	color: white;
}
#address{
	margin: 0 auto;
}